@import "tailwindcss";

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.moving-gradient-background {
  background: linear-gradient(270deg, #a8e063, #56ab2f);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}
